{% extends 'base.html' %}

{% block title %}
    Chat
{% endblock title %}

{% block content %}
    {% for message in qs %}
        {% if message in received %}
            <div class='ui grid'>
                <br>
                <div class='row'>
                    <div class='left floated four wide column'>
                        <div class="ui blue large message">{{message}}</div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class='ui grid'>
                <br>
                <div class='row'>
                    <div class='right floated  four wide column'>
                        <div class="ui left floated red large message">{{message}}</div>
                    </div>
                </div>
            </div>
        {% endif%}
    {% endfor %}
{% endblock content %}