{% extends 'base.html' %}

{% block title %}
    Messenger
{% endblock title %}

{% block content %}
    <h1 style="text-align:center">All your friends will show here</h1>
    {% if is_empty  %}
        <h1>You have not yet added any friends.</h1>
    {% endif %}
    {% for object in object_list %}
        <div class='ui segment'>
            <div class='ui grid'>
                <div class='row'>
                    <div class='four wide column'>
                        <h3>{{object}}</h3> 
                        <a href={% url "profiles:chat-message-view" object.pk %}>
                            <button 
                                style="margin-top:10px; width:200px;" 
                                class='ui teal button mb-5 w-big'>
                                Open Chat
                            </button>
                        </a>   
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}