{% extends 'base.html' %}

{% block title %}
    My Friends
{% endblock title %}

{% block content %}

    {% if is_empty %}
        <h1>You haven't added any friends yet</h1>
    {% endif %}

    {% for obj in qs %}
        <div class='ui segment'>
            <div class='ui grid'>
                <div class='row'>
                    <div class='three wide column'>
                        <img class='ui small circular image' src='{{obj.avatar.url}}'>
                    </div>
                    <div class='thirteen wide column'>
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.bio}}</p><br>
                        <a href='{{obj.get_absolute_url}}'>
                            <button style="margin-top:10px; width:200px;" class="ui primary button w-big mb-5">See Profile</button>
                        </a>

                        <form action='{% url "profiles:remove-friend" %}' method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='profile_pk' value='{{obj.pk}}'>
                            <button style="margin-top:10px; width:200px;" type='submit' class='ui negative basic button mb-5 w-big'><i class='minus square icon'></i>Remove Friend</button>
                        </form>

                        {% if obj.user in following %}
                            <form action='{% url "profiles:switch-follow-view" %}' method='POST'>
                                {% csrf_token %}
                                <input type='hidden' name='profile_pk' value='{{obj.pk}}'>
                                <button style="margin-top:10px; width:200px;" type='submit' class='ui negative basic button mb-5 w-big'>Unfollow</button>
                            </form>
                        {% else %}
                            <form action='{% url "profiles:switch-follow-view" %}' method='POST'>
                                {% csrf_token %}
                                <input type='hidden' name='profile_pk' value='{{obj.pk}}'>
                                <button style="margin-top:10px; width:200px;" type='submit' class='ui positive basic button mb-5 w-big'>Follow</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}