
{% extends 'base.html' %}

{% block title %}
    My Profile
{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="ui modal mymodal">
    <i class="close icon"></i>
    <div class="header">
      Update your Profile
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="{{profile.avatar.url}}">
      </div>
      <div class="description">
        <div class="ui header">Provide new about you</div>
        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="ui positive right labeled icon button">
        Update
        <i class="checkmark icon"></i>
      </button>
        </form>
    </div>
  </div>

{% if confirm %}
    <div class="ui green message">Updated Successfully!</div>
{% endif %}

    <div class='ui grid'>
        <br>
        <div class='row'>
            <div class='four wide column'>
                <img class='ui medium rounded image' src='{{profile.avatar.url}}'>
                <h1>{{request.user}}</h1>
                <div class='ui vertical fluid menu'>
                    <div class='item'>
                        Posts
                        <div class='ui label'>{{profile.get_posts_count}}</div>
                    </div>
                    <div class='item'>
                        Likes Given
                        <div class='ui label'>{{profile.get_likes_given_count}}</div>
                    </div>
                    <div class='item'>
                        Likes Received
                        <div class='ui label'>{{profile.get_likes_received_count}}</div>
                    </div><div class='item'>
                        Friends
                        <div class='ui label'>{{profile.friends.all.count}}</div>
                    </div>
                </div>
                <button style="margin-top:10px; width:200px;" class='ui secondary button' id='modal-btn'>Update your Profile</button>
            </div>
            <div class='twelve wide column'>
                {% if len_posts %}
                    {% for post in posts  %}
                        <div class='segment ui fluid'>
                            <div class="post-content">
                                <h3>Post #{{forloop.revcounter}}</h3>
                                <small><strong>Created {{post.created|timesince}} ago</strong></small>
                                <hr>
                                {{post.content}}
                            </div>
                            {% if post.image %}
                            <div class="post-image">
                                <img class="img-src" src="{{post.image.url}}">
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>You haven't made any posts yet.</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}