{% extends 'base.html' %}
{% block title %}
    My Profile
{% endblock title %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="ui red message">
                <div class="header">Error</div>
                <p>{{ message }}</p>
            </div>
        {% else %}
            <div class="ui green message">
                <div class="header">Success</div>
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
    <!-- Modal -->
    <div class="ui modal mymodal">
        <i class="close icon"></i>
        <div class="header">Update your Profile</div>
        <div class="image content">
            <div class="ui medium image">
                <img src="{{ profile.avatar.url }}">
            </div>
            <div class="description">
                <div class="ui header">Update Your Info</div>
                <form action="" method="POST" class="ui form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="ui positive right labeled icon button">
                    Update
                    <i class="checkmark icon"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Modal End -->
    <div class='ui grid'>
        <br>
        <div class='row'>
            <div class='four wide column'>
                <img class='ui medium rounded image' src='{{ profile.avatar.url }}'>
                <h1>{{ request.user }}</h1>
                <div class='ui vertical fluid menu'>
                    <div class='item'>
                        Posts
                        <div class='ui label'>{{ profile.posts.all.count }}</div>
                    </div>
                    <div class='item'>
                        Likes Given
                        <div class='ui label'>{{ profile.get_likes_given_count }}</div>
                    </div>
                    <div class='item'>
                        Likes Received
                        <div class='ui label'>{{ profile.get_likes_received_count }}</div>
                    </div>
                    <div class='item'>
                        Friends
                        <div class='ui label'>{{ profile.friends.all.count }}</div>
                    </div>
                    <div class='item'>
                        Followers
                        <div class='ui label'>{{ profile.followers.all.count }}</div>
                    </div>
                </div>
                <button style="margin-top:10px;
                               width:200px"
                        class='ui secondary button'
                        id='modal-btn'>Update your Profile</button>
            </div>
            <div class='twelve wide column'>
                {% if posts %}
                    {% for post in posts  %}
                        <div class='segment ui fluid'>
                            <div class="post-content">
                                <h3>Post #{{ forloop.revcounter }}</h3>
                                <p style="color: gray">{{ post.created|timesince }} ago</p>
                                <hr>
                            </div>
                            {% if post.image %}
                                <div class="post-image">
                                    <img class="img-src" src="{{ post.image.url }}">
                                </div>
                            {% endif %}
                            <p>{{ post.content }}</p>
                            <div style="display: flex; justify-content: right;">
                                <div class="cmt_btn {{ post.id }} ui button mb-5">
                                    <i class="comment icon"></i>
                                    <p style="display: inline-block;">{{ post.num_comments }}</p>
                                </div>
                                <form action="{% url 'posts:switch-like-view' %}"
                                      method="POST"
                                      class='like-form'
                                      id='{{ post.id }}'>
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{ post.id }}>
                                    {% if profile not in post.liked.all %}
                                        <button type="submit" class="ui button black like-btn{{ post.id }}">
                                            <i class="heart icon"></i>
                                            <p style="display: inline-block;" class="like-count{{ post.id }}">{{ post.liked.all.count }}</p>
                                        </button>
                                    {% else %}
                                        <button type="submit" class="ui button negative like-btn{{ post.id }}">
                                            <i class="heart icon"></i>
                                            <p style="display: inline-block;" class="like-count{{ post.id }}">{{ post.liked.all.count }}</p>
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                            <br>
                            <div class="comment-box">
                                {% if post.comment_set.all %}
                                    {% for c in post.comment_set.all %}
                                        <div class="ui segment mb-5">
                                            <img class="ui avatar image" src={{ c.profile.avatar.url }}>
                                            <span style="color:gray">
                                                <a style="color:black" href="{{ c.profile.get_absolute_url }}">{{ c.profile }}</a> {{ c.created|timesince }} ago
                                            </span>
                                            <div style="color:black" class='mt-5'>{{ c.content }}</div>
                                            <br>
                                            {% if c.profile.user == request.user %}
                                                <form method="POST" action="{% url 'posts:comment-delete' c.pk %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="delete-cmt-btn">Delete</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <form action="" method="POST"class='form{{ post.id }} ui fluid form'>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{ post.id }}>
                                {{ c_form.as_p }}
                                <button type="submit"
                                        name="submit_c_form"
                                        class="ui primary button mt-5 w-full">Send</button>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>You haven't made any posts yet.</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'like.js' %}"></script>
    <script src="{% static 'comments.js' %}"></script>
{% endblock scripts %}
