{% extends 'base.html' %}
{% block title %}
    {{ profile.user }}
{% endblock title %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="ui red message">
                <div class="header">Error</div>
                <p>{{ message }}</p>
            </div>
        {% else %}
            <div class="ui green message">
                <div class="header">Success</div>
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
    <div class='ui grid'>
        <br>
        <div class='row'>
            <div class='four wide column'>
                <img class='ui medium rounded image' src='{{ profile.avatar.url }}'>
                <h1>{{ profile.user }}</h1>
                <div class='ui vertical fluid menu'>
                    <div class='item'>
                        Posts
                        <div class='ui label'>{{ profile.posts.all.count }}</div>
                    </div>
                    <div class='item'>
                        Likes Given
                        <div class='ui label'>{{ profile.get_likes_given_count }}</div>
                    </div>
                    <div class='item'>
                        Likes Received
                        <div class='ui label'>{{ profile.get_likes_received_count }}</div>
                    </div>
                    <div class='item'>
                        Friends
                        <div class='ui label'>{{ profile.friends.all.count }}</div>
                    </div>
                    <div class='item'>
                        Followers
                        <div class='ui label'>{{ profile.followers.all.count }}</div>
                    </div>
                </div>
                <div>
                    <!-- Relationship Options (add friend, remove etc.)-->
                    <!-- Add Friend -->
                    <!-- If request user didn't send invite and pk user didn't send invite and request's user not in target user friends -->
                    {% if profile.user not in invited_users and profile.user not in incoming_invite_users and request.user not in profile.friends.all %}
                        <form action='{% url 'profiles:send-invite' %}' method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='pk' value='{{ profile.pk }}'>
                            <button style="margin-top:10px;
                                           width:200px"
                                    type='submit'
                                    class='ui positive basic button mb-5 w-big'>
                                <i class='plus square icon'></i>
                                Add Friend
                            </button>
                        </form>
                    {% endif %}
                    <!-- Waiting for approval -->
                    <!-- If request user sent invite -->
                    {% if profile.user in invited_users %}
                        <div>
                            <button style="margin-top:10px;
                                           width:200px"
                                    class='ui disabled button mb-5 w-big'>
                                <i class='user icon'></i>
                                Waiting for approval
                            </button>
                        </div>
                    {% endif %}
                    <!-- Accept Invite -->
                    <!-- If target user sent invite to request.user and request's user didn't send invite -->
                    {% if profile.user in incoming_invite_users and profile.user not in invited_users %}
                        <form action='{% url 'profiles:accept-invite' %}' method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='pk' value='{{ profile.pk }}'>
                            <button style="margin-top:10px;
                                           width:200px"
                                    type='submit'
                                    class='ui positive basic button mb-5 w-big'>
                                <i class='plus square icon'></i>
                                Accept Invite
                            </button>
                        </form>
                    {% endif %}
                    <!-- Remove Friend -->
                    <!-- If request user in target user friends -->
                    {% if request.user in profile.friends.all %}
                        <form action='{% url 'profiles:remove-friend' %}' method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='pk' value='{{ profile.pk }}'>
                            <button style="margin-top:10px;
                                           width:200px"
                                    type='submit'
                                    class='ui negative basic button mb-5 w-big'>
                                <i class='minus square icon'></i>
                                Remove Friend
                            </button>
                        </form>
                    {% endif %}
                    <!-- Follow -->
                    {% if profile.user not in following %}
                        <form action='{% url "profiles:switch-follow-view" %}' method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='pk' value='{{ profile.pk }}'>
                            <button style="margin-top:10px;
                                           width:200px"
                                    type='submit'
                                    class='ui positive basic button mb-5 w-big'>Follow</button>
                        </form>
                        <!-- Unfollow -->
                    {% else %}
                        <form action='{% url "profiles:switch-follow-view" %}' method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='pk' value='{{ profile.pk }}'>
                            <button style="margin-top:10px;
                                           width:200px"
                                    type='submit'
                                    class='ui negative basic button mb-5 w-big'>
                                Unfollow
                            </button>
                        </form>
                    {% endif %}
                    <!-- Send a message -->
                    {% if request.user in profile.friends.all %}
                        <a href="{% url "profiles:chat-message-view" profile.slug %}">
                            <button style="margin-top:10px;
                                           width:200px"
                                    type='submit'
                                    class='ui info teal basic button mb-5 w-big'>
                                Send a Message
                            </button>
                        </a>
                    {% endif %}
                </div>
                <!-- Relationship Options end -->
            </div>
            <div class='twelve wide column'>
                {% if posts %}
                    {% for post in posts  %}
                        <div class='segment ui fluid'>
                            <div class="post-content">
                                <h3>Post #{{ forloop.revcounter }}</h3>
                                <p style="color: gray">{{ post.created|timesince }} ago</p>
                                <hr>
                            </div>
                            {% if post.image %}
                                <div class="post-image">
                                    <img class="img-src" src="{{ post.image.url }}">
                                </div>
                            {% endif %}
                            <p>{{ post.content }}</p>
                            <div style="display: flex; justify-content: right;">
                                <div class="cmt_btn {{ post.id }} ui button mb-5">
                                    <i class="comment icon"></i>
                                    <p style="display: inline-block;">{{ post.num_comments }}</p>
                                </div>
                                <form action="{% url 'posts:switch-like-view' %}"
                                      method="POST"
                                      class='like-form'
                                      id='{{ post.id }}'>
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{ post.id }}>
                                    {% if request_user_profile not in post.liked.all %}
                                        <button type="submit" class="ui button black like-btn{{ post.id }}">
                                            <i class="heart icon"></i>
                                            <p style="display: inline-block;" class="like-count{{ post.id }}">{{ post.liked.all.count }}</p>
                                        </button>
                                    {% else %}
                                        <button type="submit" class="ui button negative like-btn{{ post.id }}">
                                            <i class="heart icon"></i>
                                            <p style="display: inline-block;" class="like-count{{ post.id }}">{{ post.liked.all.count }}</p>
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                            <br>
                            <div class="comment-box">
                                {% if post.comment_set.all %}
                                    {% for c in post.comment_set.all %}
                                        <div class="ui segment mb-5">
                                            <img class="ui avatar image" src={{ c.profile.avatar.url }}>
                                            <span style="color:gray">
                                                <a style="color:black" href="{{ c.profile.get_absolute_url }}">{{ c.profile }}</a> {{ c.created|timesince }} ago
                                            </span>
                                            <div style="color:black" class='mt-5'>{{ c.content }}</div>
                                            <br>
                                            {% if c.profile.user == request.user %}
                                                <form method="POST" action="{% url 'posts:comment-delete' c.pk %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="delete-cmt-btn">Delete</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <form action="" method="POST"class='form{{ post.id }} ui fluid form'>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{ post.id }}>
                                {{ form.as_p }}
                                <button type="submit"
                                        name="submit_c_form"
                                        class="ui primary button mt-5 w-full">Send</button>
                            </form>
                        {% endfor %}
                    {% else %}
                        <h1>This user hasn't posted anything yet.</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block scripts %}
        {% load static %}
        <script src="{% static 'like.js' %}"></script>
        <script src="{% static 'comments.js' %}"></script>
    {% endblock scripts %}
