{% extends 'base.html' %}
{% block title %}
    All Profiles
{% endblock title %}
{% block content %}
    {% for profile in profiles %}
        <div class='ui segment'>
            <div class='ui grid'>
                <div class='row'>
                    <div class='three wide column'>
                        <img class='ui small circular image' src='{{ profile.avatar.url }}'>
                    </div>
                    <div class='thirteen wide column'>
                        <h3>{{ profile.user }}</h3>
                        <p>{{ profile.bio }}</p>
                        <div>
                            <!-- Relationship Options (add friend, remove etc.) -->
                            <a href='{{ profile.get_absolute_url }}'>
                                <button style="margin-top:10px;
                                               width:200px"
                                        class='ui primary button mb-5 w-big'>See Profile</button>
                            </a>
                            <!-- Add Friend -->
                            <!-- If request user didn't send invite and pk user didn't send invite and request's user not in target user friends -->
                            {% if profile.user not in invited_users and profile.user not in incoming_invite_users and request.user not in profile.friends.all %}
                                <!-- If pk's user is not request's user (to avoid users adding themselves) -->
                                {% if profile.user != request.user %}
                                    <form action='{% url 'profiles:send-invite' %}' method='POST'>
                                        {% csrf_token %}
                                        <input type='hidden' name='pk' value='{{ profile.pk }}'>
                                        <button style="margin-top:10px;
                                                       width:200px"
                                                type='submit'
                                                class='ui positive basic button mb-5 w-big'>
                                            <i class='plus square icon'></i>
                                            Add Friend
                                        </button>
                                    </form>
                                {% endif %}
                            {% endif %}
                            <!-- Waiting for approval -->
                            <!-- If request user sent invite -->
                            {% if profile.user in invited_users %}
                                <div>
                                    <button style="margin-top:10px;
                                                   width:200px"
                                            class='ui disabled button mb-5 w-big'>
                                        <i class='user icon'></i>
                                        Waiting for approval
                                    </button>
                                </div>
                            {% endif %}
                            <!-- Accept Invite -->
                            <!-- If target user sent invite to request.user and request's user didn't send invite -->
                            {% if profile.user in incoming_invite_users and profile.user not in invited_users %}
                                <form action='{% url 'profiles:accept-invite' %}' method='POST'>
                                    {% csrf_token %}
                                    <input type='hidden' name='pk' value='{{ profile.pk }}'>
                                    <button style="margin-top:10px;
                                                   width:200px"
                                            type='submit'
                                            class='ui positive basic button mb-5 w-big'>
                                        <i class='plus square icon'></i>
                                        Accept Invite
                                    </button>
                                </form>
                            {% endif %}
                            <!-- Remove Friend -->
                            <!-- If request user in target user friends -->
                            {% if request.user in profile.friends.all %}
                                <form action='{% url 'profiles:remove-friend' %}' method='POST'>
                                    {% csrf_token %}
                                    <input type='hidden' name='pk' value='{{ profile.pk }}'>
                                    <button style="margin-top:10px;
                                                   width:200px"
                                            type='submit'
                                            class='ui negative basic button mb-5 w-big'>
                                        <i class='minus square icon'></i>
                                        Remove Friend
                                    </button>
                                </form>
                            {% endif %}
                            <!-- Follow -->
                            {% if profile.user not in following %}
                                <!-- If pk's user is not request's user (to avoid users following themselves) -->
                                {% if profile.user != request.user %}
                                    <form action='{% url "profiles:switch-follow-view" %}' method='POST'>
                                        {% csrf_token %}
                                        <input type='hidden' name='pk' value='{{ profile.pk }}'>
                                        <button style="margin-top:10px;
                                                       width:200px"
                                                type='submit'
                                                class='ui positive basic button mb-5 w-big'>Follow</button>
                                    </form>
                                {% endif %}
                                <!-- Unfollow -->
                            {% else %}
                                <form action='{% url "profiles:switch-follow-view" %}' method='POST'>
                                    {% csrf_token %}
                                    <input type='hidden' name='pk' value='{{ profile.pk }}'>
                                    <button style="margin-top:10px;
                                                   width:200px"
                                            type='submit'
                                            class='ui negative basic button mb-5 w-big'>
                                        Unfollow
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                        <!-- Relationship Options end -->
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
