{% extends 'base.html' %}

{% block title %}
Sent Invites
{% endblock title %}

{% block content %}

    {% if is_empty  %}
        <h1>You don't have any sent invites.</h1>
    {% endif %}

    {% for obj in qs %}
        <div class='ui segment'>
            <div class='ui grid'>
                <div class='row'>
                    <div class='three wide column'>
                        <img class='ui small circular image' src='{{obj.avatar.url}}'>
                    </div>
                    <div class='thirteen wide column'>
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.bio}}</p>
                        <a href='{{obj.get_absolute_url}}'><button style="margin-top:10px; width:200px;" class='ui primary button mb-5 w-big'>See Profile</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}