{% extends 'base.html' %}

{% block title %}
    Board
{% endblock title %}

{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="ui red message">
                <div class="header">
                    Error
                </div>
                <p>{{ message }}</p>
            </div>
        {% else %}
            <div class="ui green message">
                <div class="header">
                    Success
                </div>
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
    <div class="ui grid">
        <div class="eleven wide column">
            
            {% for obj in qs %}
            <div class="ui fluid card">
                <div class="content">
                    <div class="right floated meta">
                    <div class="ui grid">
                        <div class="row">
                            {% if request.user == obj.author.user %}
                                <a href="{% url 'posts:post-update' obj.pk %}">
                                    <button class="ui button bwhite-lg ">Update</button>
                                </a>
                                <a href="{% url 'posts:post-delete' obj.pk %}">
                                    <button class="ui button bwhite-lg ">Delete</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                        
                    </div>
                    <img class="ui avatar image" src={{ obj.author.avatar.url }}> 
                    <a style="color:black" href="{% url 'profiles:my-profile-view' %}">
                        {{ obj.author.user }}
                    </a> - {{ obj.created|timesince }} ago
                </div>
                <div class="ui fluid image">
                    {% if obj.image %}
                        <img src={{obj.image.url}}>
                    {% endif %}
                </div>
                <div class="content">
                    <p> {{ obj.content }} </p>
                    <div class="right floated">
                        <form action="{% url 'posts:switch-like-view' %}" method="POST" class='like-form' id='{{ obj.id }}'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{ obj.id }}>
                            {% if profile not in obj.liked.all %}
                            <button type="submit" class="ui button positive  like-btn{{ obj.id }}">Like</button>
                            {% else %}
                            <button type="submit" class="ui button negative  like-btn{{ obj.id }}">Unlike</button>
                            {% endif %}
                            <div class="ui grid">
                                <div class="column">
                                    <div class="like-count{{ obj.id }}">{{ obj.liked.all.count }}</div>
                                </div>
                                <div class="column">
                                    likes
                                </div>
                            </div>
                        </form>
                    </div>
                    <i class="comment icon"></i>
                    <span> {{ obj.num_comments }} comments</span>
                </div>
                <div class="extra content">
                    {% if obj.comment_set.all %}
                        <button class="cmt_btn ui button mb-5">Show / Hide comments</button>
                    {% else %}
                        <button style="display: none"class="cmt_btn ui button mb-5">Show / Hide comments</button>
                    {% endif %}
                    <div class="comment-box">
                        {% if obj.comment_set.all %}
                            {% for c in obj.comment_set.all %}
                            
                                <div class="ui segment mb-5">
                                    <img class="ui avatar image" src={{ c.profile.avatar.url }}>
                                    <span style="color:black"><a style="color:black" href="{{ c.user.get_absolute_url }}">{{ c.profile }}</a> - {{ c.created|timesince }} ago</span>
                                    <div style="color:black" class='mt-5'>{{ c.body }}</div>
                                    {% if c.profile.user == request.user %}
                                        <a href="{% url 'posts:comment-delete' c.pk %}"><p style="text-align:right; color:red">Delete</p></a>
                                    {% endif %}
                                </div>
                            
                            {% endfor %}
                        {% endif %}
                    </div>
    
                    <form action="" method="POST"class='ui fluid form'>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{ obj.id }}>
                        {{ c_form }}
                        <button type="submit" name="submit_c_form" class="ui primary button mt-5 w-full">Send</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="five wide column">
            <div class="ui segment">
                <form action="" method="POST" class='ui form' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ p_form }}
                    <button type='submit' name="submit_p_form" class="ui positive button w-full mt-5">Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %} 
    <script>
        $( document ).ready(function() {
            let display = false
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });

            $('.like-form').submit(function(e){
                e.preventDefault()
                
                const post_id = $(this).attr('id')
                
                const likeText = $(`.like-btn${post_id}`).text()
                const trim = $.trim(likeText)

                const url = $(this).attr('action')
                
                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)
                
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id':post_id,
                    },
                    success: function(response) {
                        if(trim === 'Unlike') {
                            $(`.like-btn${post_id}`).text('Like');
                            $(`.like-btn${post_id}`).removeClass('negative')
                            $(`.like-btn${post_id}`).addClass('positive')
                            res = trimCount - 1
                        } else {
                            $(`.like-btn${post_id}`).text('Unlike')
                            $(`.like-btn${post_id}`).removeClass('positive')
                            $(`.like-btn${post_id}`).addClass('negative')
                            res = trimCount + 1
                        }

                        $(`.like-count${post_id}`).text(res)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })

            })
        });
    </script>
{% endblock scripts %}